# terraform 
*.tfstate
infra/variable.tf/.blackbox/pubring.gpg~
.blackbox/blackbox-admins.txt
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/himitu.txt
/secret.txt
/.secret.txt
/newhimitu.txt
/.blackbox/pubring.gpg~
/.env
/himitu.md
